# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
tf_env/
.env

# ML Models & Data
data/*
!data/.gitkeep

# Properly INCLUDE model artifacts for deployment
models/*
!models/.gitkeep
!models/*.keras
!models/*.pkl
!models/*.json

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db